section#about.padding
  .middle.clrfix
    h2 О реабилитационном центре
    .left
      .elem
        span 1.
        p
          | Находится в Томской области в живописном месте
          br
          | среди сибирской тайги. В 60 км от Томска.
      // elem
      .elem
        span 2.
        p
          | Комфортабельные и теплые корпуса.
          br
          | Проживание в 30-местных комнатах.
      // elem
      .elem
        span 3.
        p
          | Постоянный контроль со стороны
          br
          | сотрудников центра
      // elem
      .elem
        span 4.
        p
          | Трехдневное питание. Сбалансированный рацион
          br
          | для ускорения процесса реаблитации
      // elem
    // left
    #slider_about_wrapper
      #slideleft.sliderbutton.slideleft(onclick='slideshow.move(-1)')
      #slider_about(style='overflow: hidden;')
        ul(style='left: -480px; width: 2880px;')
          li
            img.colorbox-4(src='http://fenix-centr.ru/wp-content/uploads/2015/04/ROM-42-Копировать.jpg', alt='')
          li
            img.colorbox-4(src='http://fenix-centr.ru/wp-content/uploads/2015/04/ROM-3-Копировать.jpg', alt='')
          li
            img.colorbox-4(src='http://fenix-centr.ru/wp-content/uploads/2015/04/ROM-23-Копировать.jpg', alt='')
      #slideright.sliderbutton.slideright(onclick='slideshow.move(1)')
    // slider_about_wrapper
  // middle
// abount