section#approach2.padding.w100
                .middle
                  .text
                    h1 РЕАБИЛИТАЦИОННЫЙ ЦЕНТР ДЛЯ ЛЕЧЕНИЯ НАРКОМАНИИ И АЛКОГОЛЬНОЙ ЗАВИСИМОСТИ
                    p
                      | Избавление от недуга наркомании и алкогольной зависимости возможно! Вернуться к жизни, полной радости и счастья – не мечта, а задача, которую по силам решить каждому.
                    p
                      | Для помощи в решении такой важной задачи 8 лет назад был открыт реабилитационный центр для наркозависимых Феникс. За это время мы помогли более чем 250 пациентам полностью отказаться от употребления наркотиков и алкоголя, жить полноценной социальной и личной жизнью.
                    h2 Как обратиться к нам впервые?
                    p
                      | Пожалуй, самая большая проблема людей, страдающих от наркотической или алкогольной зависимости, кроется в непринятии этой самой проблемы. В этом случае, выявить ее, помочь осознать, сможет только опытный специалист. Общий стаж наших врачей и психологов в реабилитации наркозависимости самых разных видов – более 86 лет. Мы предлагаем простую и эффективную программу первой психологической помощи, которая поможет осознать наличие проблемы и приступить к их решению.
                    h2 Наша методика
                    p
                      | Наркологический реабилитационный центр Феникс работает по методике, более 60 лет доказывающей свою эффективность на практике – методе «12 шагов». Курс психологической помощи, в сочетании с последовательным, постепенным вводом пациента в социальные группы приводит к гармоничной, осознанной социализации. Уже после 3 месяцев реабилитации любой пациент чувствует повышенную социальную ответственность, самостоятельно ищет дальнейших перемен.
                    p
                      | Реабилитационный центр для наркоманов Феникс предлагает методику, включающую:
                      br
                      | 1. Диагностику заболевания и мотивирование пациента на выздоровление.
                      br
                      | 2. Групповые и индивидуальные занятия.
                      br
                      | 3. Полный комплекс работ по личностному росту пациента, формированию правильной мотивации.
                      br
                      | 4. Всестороннюю помощь и поддержку. 
                      br
                    p
                      | Все это, в сочетании с вниманием и заботой персонала, помогает пациенту самому перестроиться на выздоровление и избавление от наркотической или алкогольной зависимости в течение срока реабилитации. Итогом нашей работы становится полная социальная адаптация к новой «трезвой» жизни и возврат к полноценному социальному взаимодействию.
                      | Мы готовы оказать вам всю необходимую консультативную помощь прямо сейчас. Просто позвоните нам и помогите себе или своим близким встать на путь свободы от наркотиков или алкоголя. Путь счастливой жизни!
                // middle
              // approach