section.contact-block01
	.contact-block01_wrp
		form.contact-form.contact-block01_form(action="/mailer.php", method="post")
			.contact-block01_title Бесплатная консультация
			input(type="hidden", name="formId", value="ID 01: Форма под главным баннером")
			.contact-block01_input-line
				input.contact-block01_input.contact-block01_input--login(type="text", name="name", placeholder="Ваше имя (анонимно)")
				input.phone-input.contact-block01_input.contact-block01_input--phone(type="phone", name="name", placeholder="Телефон (анонимно)")
			button.contact-block01_button(type="submit") Получить помощь