section#faq.padding
  .middle
    h2 Остались вопросы?
    .wrap
      p.call-text Звоните по телефону 8 800 770 5000
      p.free Бесплатная консультация
      p.anonim 100% анонимно
      p.or_mail Закажите звонок нашего специалиста
      a.btn(onclick='order(1)') Спасти близкого
    // wrap
  // middle
// faq

#thx-window.window
  .window-wrap
    img.btnClose(src='http://fenix-centr.ru/wp-content/themes/wp-fenixcentr/images/close.png')
    |         Спасибо за заказ, наш менеджер вам перезвонит в ближайшее время
// Благодарность после заявки
// Форма заявки
#Order.window
  img.btnClose(src='http://fenix-centr.ru/wp-content/themes/wp-fenixcentr/images/close.png')
  form#OrderForm.form(method='post')
    p.form-name.roman
    input(type='text', name='name', placeholder='Имя', required='')
    input.phone-input(type='text', name='phone', placeholder='+7 (___) ___-__-__', required='')
    input#type(name='type', type='hidden')
    button.brown-btn(type='submit') ЗАКАЗАТЬ
// Форма заявки
// Форма обратного звонка
#Call.window
  img.btnClose(src='http://fenix-centr.ru/wp-content/themes/wp-fenixcentr/images/close.png')
  form#CallForm.form(method='post')
    p.form-name.roman ЗАКАЗ ОБРАТНОГО ЗВОНКА
    input(type='text', name='name', placeholder='Имя', required='')
    input.phone-input(type='text', name='phone', placeholder='+7 (___) ___-__-__', required='')
    input(type='text', name='comment', placeholder='Комментарий')
    button.btn(type='submit') ЗАКАЗАТЬ 
// Форма обратного звонка