section#diplom.w100.padding
  .middle
    h2 Благодарственные письма, сертификаты и грамоты
    .wrap.ft(style='    width: 470px;')
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/i2.jpg', rel='lightbox[30]', title='Сканировать 4 (Копировать)')
        img.alignnone.size-medium.wp-image-119.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/i2.jpg', alt='Сканировать 4 (Копировать)', width='455')
      | Награждение руководителя центра Феникс в администрации Томской области
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/ue1.jpeg', rel='lightbox[30]', title='Сканировать 4 (Копировать)')
        img.alignnone.size-medium.wp-image-119.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/ue1.jpeg', alt='Сканировать 4 (Копировать)', width='212', height='315')
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-4-Копировать.jpeg', rel='lightbox[30]', title='Сканировать 4 (Копировать)')
        img.alignnone.size-medium.wp-image-119.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-4-Копировать-212x300.jpeg', alt='Сканировать 4 (Копировать)', width='212', height='315')
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-3-Копировать.jpeg', rel='lightbox[30]', title='Сканировать 3 (Копировать)')
        img.alignnone.size-medium.wp-image-118.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-3-Копировать-212x300.jpeg', alt='Сканировать 3 (Копировать)', width='212', height='315')
      p
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-2-Копировать.jpeg', rel='lightbox[30]', title='Сканировать 2 (Копировать)')
        img.alignnone.size-medium.wp-image-117.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-2-Копировать-212x300.jpeg', alt='Сканировать 2 (Копировать)', width='212', height='315')
      p
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-1-Копировать.jpeg', rel='lightbox[30]', title='Сканировать 1 (Копировать)')
        img.alignnone.size-medium.wp-image-116.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-1-Копировать-212x300.jpeg', alt='Сканировать 1 (Копировать)', width='212', height='315')
      p
    // wrap
    .wrap
      a.cboxElement(href='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-Копировать.jpeg', rel='lightbox[30]', title='Сканировать (Копировать)')
        img.alignnone.size-medium.wp-image-114.colorbox-30(src='http://fenix-centr.ru/wp-content/uploads/2015/04/Сканировать-Копировать-212x300.jpeg', alt='Сканировать (Копировать)', width='212', height='315')
      p
    // wrap
    .clear