header.w100
  .header-container.middle.clrfix
    a.logo(href='/')
    p.trig Реабилитационный центр в Барнауле для&nbsp;наркозависимых и алкозависимых
    .contact
      p.phone
        | 8 800 770 5000
        // +7-923-403-3033
      p.adres Барнаул, Свердлова 15
  // /header-container
nav.w100.menu
