section#head-bg.w100
    .middle
      p.title-1
        span Избавление от зависимостей на 100%
        br
        span за 6 месяцев в реабилитационном
        br
        span центре в сибирской тайге
      p.title-2
        span 9
        |  лет работы. 
        span 314
        |  прошли реабилитации.
        br
        span 284
        |  человек больше не употребляют 
        br
        | запрещенных веществ и алкоголь
      .head-link
        a(href='/lechenie-narkomanii.html') Лечение наркомании
        a(href='/lechenie-alkogolizma.html') Лечение алкоголизма