header.w100
  .header-container.middle.clrfix
    a.logo(href='/')
    p.trig Реабилитационный центр в Томске для наркозависимых и алкозависимых
    .contact
      p.phone
        | 8 800 770 5000
        // +7-923-403-3033
      p.adres Томск, Трифонова 20, офис 4
  // /header-container
nav.w100.menu
  ul.active
    li
      a(href='http://fenix-centr.ru/') Главная  
    li
      a(href='http://fenix-centr.ru/o-centre/') О центре
    li
      a(href='http://fenix-centr.ru/lechenie-narkomanii') Лечение наркомании
    li
      a(href='http://fenix-centr.ru/lechenie-alkogolizma') Лечение алкоголизма
    li
      a(href='http://fenix-centr.ru/istorii-pacientov') Истории пациентов
    li
      a(href='http://fenix-centr.ru/kontakty') Контакты
  a.toggle-nav(href='#')
    img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALElEQVQ4jWNgGGjA+P////+UGMBEqQsoNoCFgYGBccBdMBqIVHDBEA9EigEAq2MGHt+Zsm4AAAAASUVORK5CYII=', alt='')