section#priem.w100.padding
  .middle.clrfix
    h2 Порядок приема пациентов в реабилитационный центр
    .elem.ft
      p.num 1
      p.title Собеседование
      p.text
        | Проводится с родственниками пациента и самим пациентов в офисе в Томске. Для иногородних – по телефону
    // elem
    .elem
      p.num 2
      p.title Договор
      p.text
        | Заключается договор, подписываются соответствующие документы для прохождения программы реабилитации
    // elem
    .elem
      p.num 3
      p.title Доставка в центр
      p.text
        | Доставка осуществляется как из Томска, так и из других городов Сибири и Урала силами центра. Доставка платная
    // elem
    .elem
      p.num 4
      p.title
        | Знакомство
        br
        | в центре
      p.text
        | Происходит знакомство с сотрудниками и участниками программы, с территорией социально-реабилитационного центра
    // elem
    .elem(style='width:197px;')
      p.num 5
      p.title Начало программы
      p.text
        | С первого дня пациент погружается в процесс избавления от наркотической зависимости.
    // elem
  // middle