section#step.w100.padding
  .middle
    h2 ВОПРОСЫ И ОТВЕТЫ
    .elem
      p.title
        | Сколько стоит 
        br
        |  лечение?
      .body
        p
          | Стоимость проводимого лечения будет зависеть от направления терапии.
          | Платные курсы рассчитаны на группы пациентов с тяжелыми формами наркомании. Стоимость будет зависеть от степени тяжести пациента. В среднем сумма составляет 25000 рублей в месяц.
          | Узнать сумму можно по телефону, размещенному на нашем сайте.
      // body
    // elem
    .elem
      p.title
        | Какую помощь вы 
        br
        |  оказываете?
      .body
        p
          | Наши методы реабилитации являются инновационными и эффективными. Мы помогаем выработать психологическую и физиологическую устойчивость. Наш центр позволяет нашим пациентам начать жизнь с чистого листа: отказ от наркотических препаратов, самоосознание и новые жизненные цели и задачи. Мы помогаем человеку заново взглянуть на жизнь и полюбить ее.
      // body
    // elem
    .elem
      p.title
        | Сроки
        br
        | реабилитации
      .body
        p Курс терапии и реабилитации выбирается индивидуально: от 6 до 12 месяцев.
      // body
    // elem
    .elem
      p.title Какие результаты?
      .body
        p
          | При полноценной терапии, прохождении реабилитации с соблюдением всех назначений можно гарантировать 100 % успешность лечения. Люди, прошедшие реабилитацию в нашем центре полностью изменили свое отношение к жизни, у них появились цели и задачи, стремление к их достижению.
      // body
    // elem
  // middle