section#approach.padding.w100
                .middle
                  h2 Наш подход к реабилитации
                  .elem
                    img.colorbox-4(src='http://fenix-centr.ru/wp-content/themes/wp-makers/images/egg/1.png', alt='')
                    p
                      | Пребывание в центре
                      br
                      | от 6 до 12 месяцев
                  // elem
                  .elem
                    img.colorbox-4(src='http://fenix-centr.ru/wp-content/themes/wp-makers/images/egg/2.png', alt='')
                    p
                      | В основе реабилитация
                      br
                      | Миннесотская модель
                      br
                      | с концепцией «12 шагов»
                  // elem
                  .elem
                    img.colorbox-4(src='http://fenix-centr.ru/wp-content/themes/wp-makers/images/egg/3.png', alt='')
                    p
                      | Работа с
                      br
                      | немотивированнами
                      br
                      | пациентами
                  // elem
                  .elem
                    img.colorbox-4(src='http://fenix-centr.ru/wp-content/themes/wp-makers/images/egg/4.png', alt='')
                    p
                      | Встречи с родственниками
                      br
                      | 1 раз в квартал.
                      br
                      | Созвоны по Skype.
                  // elem
                  .elem
                    img.colorbox-4(src='http://fenix-centr.ru/wp-content/themes/wp-makers/images/egg/5.png', alt='')
                    p
                      | Гарантия от срыва
                      br
                      span 1 год
                  // elem
                  .clear
                  .text
                    h2 РЕАЛЬНАЯ ИСТОРИЯ РЕАБИЛИТАЦИИ В ФЕНИКС-ЦЕНТРЕ
                    iframe(width='910', height='400', src='https://www.youtube.com/embed/FKBTTP_6_lU', frameborder='0', allowfullscreen='')
                // middle
              // approach