div(style='margin:0;padding:10px 0 7px;font-size:13px;text-align:center;background-color:#dce6f1;color:#124072;font-weight:normal;')
      | 10 социальных места на реабилитацию в феврале. Подробности по телефону 8 800 770 5000