doctype html
html
  include modules/_head
    title Реабилитационный центр для лечения наркомании и алкогольной зависимости в Барнауле
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext')

  body#page1
    include modules/topbanner
    include modules/header
    #content
      #middle
        #center
          .post
            // <h1 class="page_title">Реабилитационный центр для лечения наркомании и алкогольной зависимости</h1>
            .content-text
              include modules/head-bg
              include modules/contact-block01
              include modules/story
              include modules/about
              include modules/priem
              include modules/diplom
              include modules/step
              include modules/about2
              include modules/contact-block02
    #all-content
    include modules/_scripts